<%- include('../layouts/user/header.ejs') %>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Checkout<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div class="checkout-discount">
                        <form action="#">
                            <input type="text" class="form-control" required id="checkout-discount-input">
                            <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here
                        </form>
                    </div><!-- End .checkout-discount -->

                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2>

                            <div class="row">
                                <% if (address && address.address.length> 0) { %>
                                    <% address.address.forEach((addressItem, index)=> { %>
                                        <div class="col-md-6 col-12 mb-3 mt-3">
                                            <div class="card p-4" style="background: #F3F3F9; border-radius: 10px;">
                                                <!-- Display a checkbox for each address -->
                                                <input type="checkbox" class="address-checkbox" id="address"
                                                    value="<%= addressItem.fullName %>, <%= addressItem.city %>,<%= addressItem.state %>,<%= addressItem.country %>,<%= addressItem.pincode %>,<%= addressItem.mobile %>">
                                                <div class="card-body">
                                                    <!-- Display address details -->
                                                    <h6 class="card-title" style="font-size: 15px;">
                                                        <%= addressItem.fullName %>
                                                    </h6>
                                                    <p class="card-text mt-3">Number: <%= addressItem.mobile %>
                                                    </p>
                                                    <p class="card-text">Location: <%= addressItem.state %>, <%=
                                                                addressItem.district %>, <%= addressItem.city %>
                                                    </p>
                                                    <p class="card-text">Pincode: <%= addressItem.pincode %>
                                                    </p>

                                                    <hr class="my-3">
                                                    <div class="d-flex justify-content-between">
                                                        <!-- Edit and Remove buttons for each address -->
                                                        <a href="/editCheckout?id=<%= addressItem._id %>">
                                                            <button class="btn btn-outline-primary-2" type="button"
                                                                id="editBTN" data-bs-toggle="modal" data-bs-target="">
                                                                Edit
                                                            </button>
                                                        </a>
                                                        <a onclick="removeAddress('<%= addressItem._id %>')">
                                                            <button class="btn btn-outline-primary-2" type="button"
                                                                data-bs-toggle="modal" data-bs-target="">
                                                                Remove
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } else { %>
                                                <!-- Display a message if there are no addresses -->
                                                <p>No addresses available.</p>
                                                <% } %>
                            </div>

                            <!-- Checkbox to show/hide the shipping address form -->
                            <input type="radio" id="showAddressForm" name="addressOption" data-toggle="collapse"
                                data-target="#addressForm">
                            <label for="showAddressForm">Use a different shipping address</label>

                            <!-- Shipping address form (hidden by default) -->
                            <form action="/shipAddAddress" method="post" onsubmit="return validAddress()"
                                class="collapse" id="addressForm">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9 m-t-90">
                                            <h2 class="checkout-title mb-3">Shipping Address</h2>
                                            <div class="form-group">
                                                <label for="fullName">Full Name</label>
                                                <input type="text" class="form-control" id="fullName" name="fullName">
                                                <p id="name-error" style="color: red;"></p>
                                            </div>

                                            <div class="form-group">
                                                <label for="phone">Mobile Number</label>
                                                <input type="tel" class="form-control" id="phone" name="mobile">
                                                <p id="mobile-error" style="color: red;"></p>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="state-county">State</label>
                                                        <select class="form-control" id="state" name="state">
                                                            <option value="">Select State</option>
                                                        </select>
                                                        <p id="state-error" style="color: red;"></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="country">District</label>
                                                        <input type="text" class="form-control" id="district"
                                                            name="district">
                                                        <p id="district-error" style="color: red;"></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="town-city">City</label>
                                                        <input type="text" class="form-control" id="city" name="city">
                                                        <p id="city-error" style="color: red;"></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="postcode">Pincode</label>
                                                        <input type="text" class="form-control" id="pinCode"
                                                            name="pincode">
                                                        <p id="pincode-error" style="color: red;"></p>
                                                    </div>
                                                </div>
                                                <div class="col-12 text-center mb-3">
                                                    <button type="submit"
                                                        class="btn btn-outline-primary-2">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- ... (other existing code) ... -->

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                                <label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
                            </div><!-- End .custom-checkbox -->

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                <label class="custom-control-label" for="checkout-diff-address">Ship to a different
                                    address?</label>
                            </div><!-- End .custom-checkbox -->

                            <label>Order notes (optional)</label>
                            <textarea class="form-control" cols="30" rows="4"
                                placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                        </div><!-- End .col-lg-9 -->

                        <!-- ... (other existing code) ... -->

                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% if (cart && cart.products && cart.products.length> 0) { %>
                                            <% cart.products.forEach((data)=> { %>
                                                <tr>
                                                    <td><a href="/product?id=<%= data.productId._id %>">
                                                            <%= data.productId.name %>
                                                        </a></td>
                                                    <td>
                                                        <%= data.totalPrice %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <!-- coupon details-->
                                                    <!-- Coupon Input Field -->
                                                    <div class="coupon-details">
                                                        <div class="section-title mb-0">
                                                            <h6 class="title">Have a coupon?</h6>
                                                        </div>
                                                        <div class="input-checkbox">
                                                            <input type="checkbox" id="coupon-details"
                                                                onchange="toggleCouponInput()">
                                                            <label for="coupon-details">
                                                                <span></span>
                                                                Click here.
                                                            </label>
                                                            <div class="caption" id="couponInputContainer"
                                                                style="display: none;">
                                                                <div class="form-group">
                                                                    <input class="input" type="text" id="code"
                                                                        name="code"
                                                                        placeholder="Apply your coupon code">
                                                                </div>
                                                                <button id="apply" type="button" class="btn btn-primary"
                                                                    onclick="applyCoupon($('#code').val())">Apply</button>
                                                                <button id="unApply" type="button"
                                                                    class="btn btn-danger"
                                                                    onclick="unApplyCoupon($('#code').val())"
                                                                    style="display: none;">Unapply</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end coupon details-->

                                                    <tr>
                                                        <td>Shipping:</td>
                                                        <td>Free shipping</td>
                                                    </tr>

                                                    <tr class="summary-subtotal">
                                                        <td>Subtotal:</td>
                                                        <td>
                                                            <%= Total %>
                                                        </td>
                                                    </tr><!-- End .summary-subtotal -->

                                                    <tr class="summary-total" id="total">
                                                        <td>Total:</td>
                                                        <td>
                                                            <!-- Old total amount (strikethrough style) -->
                                                            <span id="oldTotal">
                                                                <%= Total %>
                                                            </span><br>
                                                            <!-- New total amount (bold style) -->
                                                            <span id="newTotal" style="font-weight: bold;"></span>
                                                        </td>
                                                    </tr><!-- End .summary-total -->

                                                    <!-- coupon discount -->
                                                    <div class="order-col">
                                                        <div>Coupon Discount</div>
                                                        <div class="text-danger">₹<span id="couponDiscount">0</span>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div id="paymentAccordion">
                                    <!-- Online Payment -->
                                    <div class="input-radio">

                                        <input type="radio" name="paymentMethod" value="online" id="onlinePayment">
                                        <label for="onlinePayment" data-toggle="collapse"
                                            data-target="#onlinePaymentCollapse" aria-expanded="true"
                                            aria-controls="onlinePaymentCollapse">
                                            Online Payment
                                        </label>
                                        <div class="caption">
                                            <ul style="display: flex; justify-content: space-evenly;">
                                                <li><img src="/public/userImages/gpay.png" alt=""
                                                        style="width: 30px; height: auto;"></li>
                                                <li><img src="/public/userImages/phonepay.png" alt=""
                                                        style="width: 30px; height: auto;"></li>
                                                <li><img src="/public/userImages/paytm.png" alt=""
                                                        style="width: 30px; height: auto;"></li>
                                                <li><img src="/public/userImages/mastercard-logo.png" alt=""
                                                        style="width: 30px; height: auto;"></li>
                                                <li><img src="/public/userImages/visa.png" alt=""
                                                        style="width: 30px; height: auto;"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="onlinePaymentCollapse" class="collapse" aria-labelledby="onlinePayment"
                                    data-parent="#paymentAccordion"></div>

                                <!-- Cash on delivery -->
                                <div>
                                    <input type="radio" name="paymentMethod" value="COD" id="cashOnDelivery">
                                    <label for="cashOnDelivery" data-toggle="collapse"
                                        data-target="#cashOnDeliveryCollapse" aria-expanded="false"
                                        aria-controls="cashOnDeliveryCollapse">
                                        Cash on Delivery
                                    </label>
                                </div>
                                <div id="cashOnDeliveryCollapse" class="collapse" aria-labelledby="cashOnDelivery"
                                    data-parent="#paymentAccordion"></div>

                                <!-- Wallet -->
                                <div>
                                    <input type="radio" name="paymentMethod" value="wallet" id="walletPayment"
                                        onclick="toggleWalletBalance()">
                                    <label for="walletPayment">
                                        Wallet
                                    </label>
                                    <div id="walletBalance" style="display: none;">
                                        <p>Your wallet balance: <span class="text-danger">₹ <%= wallet %></span></p>
                                    </div>
                                </div>

                                <script>
                                    function toggleWalletBalance() {
                                        var walletPayment = document.getElementById('walletPayment');
                                        var walletBalance = document.getElementById('walletBalance');

                                        if (walletPayment.checked) {
                                            walletBalance.style.display = 'block';
                                        } else {
                                            walletBalance.style.display = 'none';
                                        }
                                    }

                                    // Optional: Add event listener to other payment methods to hide wallet balance
                                    document.querySelectorAll('input[name="paymentMethod"]').forEach(function (element) {
                                        if (element.value !== 'wallet') {
                                            element.addEventListener('click', function () {
                                                document.getElementById('walletBalance').style.display = 'none';
                                            });
                                        }
                                    });
                                </script>


                                <!-- Place Order button -->
                                <button type="button" class="btn btn-outline-primary-2 btn-order btn-block"
                                    id="placeOrderBtn">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>

                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
        <!--------------------------- Modal avialabel coupon ------------------------------------>


        </div>
    </main><!-- End .main -->

    <!-- Include necessary scripts -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/public/assets/js/validationaddress.js"></script>

    <script>
        function removeAddress(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/deleteAddress',
                        method: 'DELETE',
                        data: { id },
                        success: (response) => {
                            if (response.remove == 1) {
                                Swal.fire({
                                    title: 'Success!',
                                    text: 'Address removed!',
                                    icon: 'success',
                                    timer: 2000,
                                }).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Failed to remove address!',
                                });
                            }
                        },
                        error: (error) => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Failed to remove address!',
                            });
                        }
                    });
                }
            });
        }

        $(document).ready(function () {
            $('#placeOrderBtn').on('click', function (event) {
    event.preventDefault(); // Prevent the form from submitting by default

    var selectedAddress = $('.address-checkbox:checked').val();
    var selectedPaymentMethod = $('input[name="paymentMethod"]:checked').val();
    var totalAmount = parseFloat('<%= Total %>') || 0;  // Ensure totalAmount is a number
    var totalAmount1 = parseFloat(document.getElementById('newTotal').textContent) || 0;  // Ensure totalAmount1 is a number

    console.log("totalAmount", totalAmount);

    // Check if the payment method is COD and total amount is less than ₹1000
    if (selectedPaymentMethod === "COD" && (totalAmount <=999 && totalAmount1 <=999)) {
        // Prevent form submission if COD is selected and amount is less than ₹1000
        Swal.fire({
            icon: 'warning',
            title: 'Cash on Delivery Unavailable',
            text: 'Cash on Delivery is available only for purchases above ₹1000.',
        });
        return; // Exit the function to stop further execution
    }

    // Validate the selected address
    if (!selectedAddress) {
        Swal.fire({
            icon: 'warning',
            title: 'Address Missing',
            text: 'Please select an address.',
        });
        return;
    }

    // Validate the selected payment method
    if (!selectedPaymentMethod) {
        Swal.fire({
            icon: 'warning',
            title: 'Payment Method Missing',
            text: 'Please select a payment method.',
        });
        return;
    }

    var dataToSend = {
        address: selectedAddress,
        paymentMethod: selectedPaymentMethod,
        totalAmount: totalAmount,
        totalAmount1: totalAmount1
    };

    // Send AJAX request to place the order
    $.ajax({
        type: "POST",
        url: "/placeOrder",
        data: dataToSend,
        success: function (response) {
            if (response.success === true) {
                Swal.fire({
                    title: "Your order has been successfully completed.",
                    icon: "success",
                    showConfirmButton: false,
                    timer: 1500,
                    didClose: () => {
                        window.location.href = `orderPlace/${response.orderid}`;
                    }
                });
            } else if (response.walletFailed === true) {
                Swal.fire({
                    icon: "error",
                    title: "Insufficient Balance In Your Wallet",
                    showConfirmButton: false,
                    timer: 1500,
                });
            } else if (response.message) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: response.message,
                });
            } else {
                razorPayment(response.order);
            }
        },
        error: function (error) {
            console.error('Error placing order:', error);
        }
    });
});


            function razorPayment(order) {
                var options = {
                    key: 'rzp_test_OOxrpqsR7Y8V4y',
                    amount: order.amount * 100,
                    currency: 'INR',
                    name: 'specart',
                    description: 'Test Transaction',
                    image: '/images/my_Logo.png',
                    order_id: order.id,
                    handler: function (response) {
                        verifyPayment(response, order);
                    },
                    prefill: {
                        name: 'Customer Name',
                        email: 'customer@example.com',
                        contact: '1234567890',
                    },
                    notes: {
                        address: order.address,
                    },
                    theme: {
                        color: '#F37254',
                    },
                };

                var razorpayInstance = new Razorpay(options);
                razorpayInstance.open();
            }

            function verifyPayment(payment, order) {
                var amount = '<%= Total %>';
                $.ajax({
                    url: '/verifyPayment',
                    method: 'POST',
                    data: {
                        payment: payment,
                        amount: amount,
                        order: order
                    },
                    success: function (response) {
                        console.log("response", response)
                        if (response.codsuccess === true) {
                            location.href = `/orderPlace/${response.orderid}`;
                        } else {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'Payment Failed',
                                showConfirmButton: 'false',
                                timer: 1500,
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX request failed:", status, error);
                    },
                });
            }
        });

        function toggleCouponInput() {
            var couponInputContainer = document.getElementById('couponInputContainer');
            couponInputContainer.style.display = couponInputContainer.style.display === 'none' ? 'block' : 'none';
        }

        function applyCoupon(code) {
            var amount = '<%= Total %>';
            $.ajax({
                url: '/couponApply',
                method: 'POST',
                data: {
                    code: code,
                    amount: amount,
                },
                success: (response) => {
                    if (response.user) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops !!',
                            text: 'This coupon already used!',
                        });
                    } else if (response.dateExpired) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops !!',
                            text: 'This coupon has expired!',
                        });
                    } else if (response.notActivated) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops !!',
                            text: 'This coupon is not activated yet!',
                        });
                    } else if (response.insufficientAmount) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Oops !!',
                            text: 'You can\'t use the coupon. Buy more to meet the minimum spend requirement.',
                        });
                    } else if (response.amountOkay) {
                        var oldTotalElement = document.getElementById('oldTotal');
                        var newTotalElement = document.getElementById('newTotal');
                        oldTotalElement.innerHTML = '<s>' + '<%= Total %>' + '</s>';
                        newTotalElement.textContent = response.disTotal;
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Discount redeemed',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops !!',
                            text: 'Invalid Coupon !!'
                        });
                    }
                },
                error: () => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops !!',
                        text: 'Something went wrong on the server side!',
                    });
                },
            });
        }

        function unApplyCoupon(code) {
            var amount = document.getElementById('total').innerHTML;
            $.ajax({
                url: '/deleteCoupon',
                method: 'POST',
                data: { code: code, amount: amount },
                success: (response) => {
                    if (response.success) {
                        document.getElementById('total').innerHTML = response.disTotal;
                        document.getElementById('couponDiscount').innerHTML = 0;
                        document.getElementById('apply').style.display = 'block';
                        document.getElementById('unApply').style.display = 'none';
                        Swal.fire({
                            icon: 'warning',
                            title: 'Deleted !!',
                            text: 'Applied coupon is deleted'
                        });
                    }
                },
                error: () => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops !!',
                        text: 'Failed to unapply the coupon!',
                    });
                },
            });
        }
    </script>

    <%- include('../layouts/user/footer.ejs') %>