<%- include('../layouts/user/header.ejs') %>


    <main class="main">
        

        <div class="brands-border owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
            "nav": false, 
            "dots": false,
            "margin": 0,
            "loop": false,
            "responsive": {
                "0": {
                    "items":2
                },
                "420": {
                    "items":3
                },
                "600": {
                    "items":4
                },
                "900": {
                    "items":5
                },
                "1024": {
                    "items":6
                },
                "1360": {
                    "items":7
                }
            }
        }'>
            <a href="#" class="brand">
                <img src="/public/assets/images/brands/1.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/public/assets/images/brands/2.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/public/assets/images/brands/3.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/public/assets/images/brands/4.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/public/assets/images/brands/5.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/public/assets/images/brands/6.png" alt="Brand Name">
            </a>

            <a href="#" class="brand">
                <img src="/public/assets/images/brands/7.png" alt="Brand Name">
            </a>
        </div><!-- End .owl-carousel -->

        <div class="mb-3 mb-lg-5"></div><!-- End .mb-3 mb-lg-5 -->

        <div class="banner-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <div class="banner banner-large banner-overlay banner-overlay-light">
                            <a href="#">
                                <img src="/public/assets/images/demos/demo-2/banners/banner-1.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-top">
                                <h4 class="banner-subtitle">Clearence</h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title">Coffee Tables</h3><!-- End .banner-title -->
                                <div class="banner-text">from $19.99</div><!-- End .banner-text -->
                                <a href="#" class="btn btn-outline-gray banner-link">Shop Now<i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-5 -->

                    <div class="col-md-6 col-lg-3">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="/public/assets/images/demos/demo-2/banners/banner-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-bottom">
                                <h4 class="banner-subtitle text-grey">On Sale</h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white">Amazing <br>Armchairs</h3><!-- End .banner-title -->
                                <div class="banner-text text-white">from $39.99</div><!-- End .banner-text -->
                                <a href="#" class="btn btn-outline-white banner-link">Discover Now<i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-3 -->

                    <div class="col-md-6 col-lg-4">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="/public/assets/images/demos/demo-2/banners/banner-3.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-top">
                                <h4 class="banner-subtitle text-grey">New Arrivals</h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white">Storage <br>Boxes & Baskets</h3>
                                <!-- End .banner-title -->
                                <a href="#" class="btn btn-outline-white banner-link">Discover Now<i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->

                        <div class="banner banner-overlay banner-overlay-light">
                            <a href="#">
                                <img src="/public/assets/images/demos/demo-2/banners/banner-4.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-top">
                                <h4 class="banner-subtitle">On Sale</h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title">Lamps Offer</h3><!-- End .banner-title -->
                                <div class="banner-text">up to 30% off</div><!-- End .banner-text -->
                                <a href="#" class="btn btn-outline-gray banner-link">Shop Now<i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .banner-group -->

        <div class="mb-3"></div><!-- End .mb-6 -->



        <div class="mb-5"></div><!-- End .mb-5 -->



        <div class="mb-6"></div><!-- End .mb-6 -->

        <div class="container">
            <div class="heading heading-center mb-3">
                <h2 class="title">Category</h2><!-- End .title -->

                <!-- <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="top-all-link" data-toggle="tab" href="#top-all-tab" role="tab" aria-controls="top-all-tab" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="top-fur-link" data-toggle="tab" href="#top-fur-tab" role="tab" aria-controls="top-fur-tab" aria-selected="false">Furniture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="top-decor-link" data-toggle="tab" href="#top-decor-tab" role="tab" aria-controls="top-decor-tab" aria-selected="false">Decoration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="top-light-link" data-toggle="tab" href="#top-light-tab" role="tab" aria-controls="top-light-tab" aria-selected="false">Lighting</a>
                </li>
            </ul> -->
                <!-- SECTION -->
                <div class="section">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <!-- shop -->
                            <% categoryData.forEach(cat=>{ %>   
                                <div class="col-md-3 col-xs-6">
                                    <div class="shop">
                                        <div class="shop-img">
                                            <img src="/public/userImages/<%=cat.image[0]%>" alt="">
                                        </div>
                                        <div class="shop-body">
                                            <!-- <h3><%=cat.categoryName%><br>Collection</h3> -->

                                            <h3 class="product-title"><a>
                                                    <%=cat.categoryName%>
                                                </a></h3><!-- End .product-title -->
                                            <a href="/product" class="cta-btn">Shop now <i
                                                    class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                                    <!-- /shop -->

                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>
                <!-- /SECTION -->
              </div><!-- End .heading -->


              <div class="container">
                <div class="heading heading-center mb-6 mt-4">
                    <h2 class="title">Recent Arrivals Products</h2><!-- End .title -->
                    <p style="font-size: larger;" class="mb-3">Step Up Your Style</p>
                    <div class="products mb-3">
                        <div class="row justify-content-center">
            
                            <% for (let i = 0; i < products.length; i++) { %>
                                <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
                                            <a href="/product?id=<%= products[i]._id %>">
                                                <img src="/public/userImages/<%= products[i].image[0] %>" alt="Product image" class="product-image">
                                                <%if (products[i].offer ){%>
                                                    <div class="product-lable-badge" style=" position: absolute;
                                                    top: 20px; 
                                                    left: 20px; 
                                                    background-color: red;
                                                    color: white;
                                                    padding-left: 10px;
                                                    padding-right: 10px;
                                                    ">
                                                      <span class="product-lable" style="font-size: 12px;"><%= products[i].offer.percentage %> % OFF</span>
                                                    </div>
                                                    <%}%>
                                            </a>
                                        </figure><!-- End .product-media -->
                                        
                                        <div class="product-body">
                                            <!-- Debugging: Output product name and price -->
                                            <h3 class="product-title"><a><%= products[i].name %></a></h3><!-- End .product-title -->
                                            
                                            <% if (products[i].offer) { %>
                                                <div class="product-price">
                                                    <del> ₹<%= products[i].price %></del>
                                                    <span class="mx-3">₹<%= Math.floor(products[i].discountedPrice) %></span>
                                                </div><!-- End .product-price -->
                                            <% } else { %>
                                                <div class="product-price">
                                                    ₹<%= products[i].price %>
                                                </div><!-- End .product-price -->
                                            <% } %>
                                        </div><!-- End .product-body -->
                            
                                        <!-- Product action buttons -->
                                        <% if (products[i].qty > 0) { %>
                                            <div class="product-action">
                                                <a class="btn-product btn-cart" onclick="addToCart('<%= products[i]._id %>')" id="addToCartBtn_<%= products[i]._id %>">
                                                    <span>add to cart</span>
                                                </a>
                                            </div><!-- End .product-action -->
                                        <% } else { %>
                                            <div class="product-action">
                                                <a class="btn-product btn-cart"><span>OUT OF STOCK</span></a>
                                            </div><!-- End .product-action -->
                                        <% } %>
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                            <% } %>
                            
            
            
                        </div>
                    </div>
                </div><!-- End .container -->
            </div>
            
                <%- include('../layouts/user/footer.ejs') %>


                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                <script src="/path/to/script.js"></script>
                <!-- Include SweetAlert library -->
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


                <script>
                    function addToCart(id) {
                        // Remove the 'disabled' class from the button to enable it
                        $(`#addToCartBtn_${id}`).removeClass('disabled');
                
                        $.ajax({
                            url: "/addTocart",
                            method: "post",
                            data: {
                                id: id
                            },
                        }).done((data) => {
                            if (data.success) {
                                // Product added successfully
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Item has been added to Cart',
                                    showConfirmButton: false,
                                    timer: 1000
                                });
                            } else if (data.alreadyInCart) {
                                // Product is already in the cart
                                Swal.fire({
                                    position: 'center',
                                    icon: 'warning',
                                    title: 'Product is already in the cart please check the cart',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            } else {
                                // Failed to add the product
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: 'Failed to add the product',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        });
                    }
                </script>
                
                

             

               